
# Nuxt build
.nuxt
.output
node_modules
dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env

# Large Files (Images)
public/

# Mac Files
.DS_Store

# not used in production
app/pages/request-specialty-tours.vue