# Django
SECRET_KEY=

# Email Backend — swap for anymail in production
# EMAIL_BACKEND=anymail.backends.mailgun.EmailBackend
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend

# Mailgun (production only)
MAILGUN_API_KEY=
MAILGUN_DOMAIN=virginiaguides.org

# SMTP (local dev/testing only)
EMAIL_HOST=mail.virginiaguides.org
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=no-reply@virginiaguides.org
EMAIL_HOST_PASSWORD=

# Shared
DEFAULT_FROM_EMAIL=no-reply@virginiaguides.org

# Recipients — use real addresses in production
EMAIL_SCHEDULER_RECEIVER=tech@virginiaguides.org
EMAIL_CHAIR_RECEIVER=tech@virginiaguides.org
EMAIL_CHAIR_RECEIVER2=tech@virginiaguides.org
