# Django
SECRET_KEY=

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend

# Mailgun (production only)
MAILGUN_API_KEY=
MAILGUN_DOMAIN=virginiaguides.org

# Cloudflare Turnstile (backend verification)
# Cloudflare -- captcha
NUXT_PUBLIC_CLOUDFLARE_SITE_KEY=
NUXT_PUBLIC_API_BASE=
CLOUDFLARE_SECRET_KEY=
CLOUDFLARE_ALLOWED_HOSTNAMES=127.0.0.1,localhost,virginiaguides.org,www.virginiaguides.org

# SMTP (local dev/testing only)
EMAIL_HOST=mail.virginiaguides.org
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=no-reply@virginiaguides.org
EMAIL_HOST_PASSWORD=

# Shared
DEFAULT_FROM_EMAIL=no-reply@virginiaguides.org

# Recipients — use real addresses in production
EMAIL_SCHEDULER_RECEIVER=tech@virginiaguides.org
EMAIL_CHAIR_RECEIVER=tech@virginiaguides.org
EMAIL_CHAIR_RECEIVER2=tech@virginiaguides.org
EMAIL_CHAIR_RECEIVER3=tech@virginiaguides.org
